ody {
    margin: 0px 0px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#f7f5f2;
}

#tblMain {
    width:100%;
}

#divTopMenu {
    position:relative;
    width:50%;
    text-align:right
}

#divTopMenuLinks {
    position:absolute;
    bottom:5px;
    right:5px
}

#divTopMenuMiddle {
    display:flex;
    background-color:#f7f5f2;
    font-size:small
}
/* Not working! */
.topNavMenu div {
    position:absolute;
    bottom:5px;
    right:5px
}
/* Style the links inside the navigation bar */
.topNavMenu a {
    font-size: small;
    text-decoration: none;
    color: #070c47
}
    /* Change the color and underline the links on hover */
    .topNavMenu a:hover {
        color: #470620;
        text-decoration: underline
    }

/* Change the color on the active page and underline it */
#active {
    color: #470620;
    text-decoration: underline
}

.imgTopMenuSmall {
    width:15px;
    height:15px
}

.logo {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

    .logo img {
        height: 60px;
        width: 60px
    }

    .logo span {
        color: #470620;
        font-family: Pinyon Script;
        font-size: 22px;
        font-weight: bold
    }

.tdClean {
    padding: 0px;
    margin: 0px;
    border: 0px
}

.topOfTheMenu {
    padding-right: 5px;
    text-align: right;
    align-content: flex-end;
    height: 15px;
    background-color: #f2ede6;
    font-size: x-small;
    color: #070c47;
}

.bottomOfTheMenu {
    width: 100%;
    background-color: #f2ede6
}

.pageHeaderText {
    color: #070c47;
    font-size:large;
    width:70%;
    text-align:center
}

.tdMainLeftAndRight {
    width:15%
}


.iconLink img {
    border: 2px solid #070c47;
    border-radius: 4px;
    padding: 5px;
    width: 144px;
    height:144px;
}

.firstPageHeader {
    color: #f7f5f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 250px;
    width: 100%;
    background-image: url(../Images/imgIndexBackground.jpg);
    background-size: contain;
    text-align: center;
}

    .firstPageHeader span {
        font-family: Pinyon Script;
        font-size: 70px;
        font-weight: bold
    }

.firstPageTopIcons {
}

    .firstPageTopIcons td {
        align-content: center;
        text-align: center;
        padding: 15px 70px 15px 70px
    }

    .firstPageTopIcons div {
        border: 4px solid #070c47;
        border-radius: 6px
    }

    .firstPageTopIcons img {
        padding: 3px;
        width: 60px;
        height: 60px;
    }

#divFirstPageIcons {
    border:none;
    display: flex;
    justify-content: space-around
}


.pageIconHeadlineContainer {
    padding: 25px;
    border: none;
    display: flex;
    justify-content: flex-start;
    font-size: 45px;
    color: #070c47
}

    .pageIconHeadlineContainer img {
        height: 60px;
        width: 60px;
        padding: 3px
    }

.pageIconHeadlineImgBox {
    border: 4px solid #070c47;
    width: 66px;
    height: 66px;
    border-radius: 6px
}

#pageIconHeadlineTextBox {
    font-size: 45px;
    color: #070c47; 
    padding: 20px 0px 0px 10px;
}

.pageInfoText {
    padding: 0px 25px 25px 25px;
}

    .pageInfoText span {
        font-size: small;
        color: #470620
    }

.boxFormWithShadow {
    border: 1px solid darkgray;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
    color: #470620;
    background-color: #f2ede6;
    padding: 5px;
    width: 295px;
    font-size: small
}
    .tblNoSpacing {
        border-spacing: 0;
        border-collapse: collapse;
    }


.indexPageInfoText {
    padding: 10px 25px 10px 25px;
    color: #470620;
    color: #470620;
    font-size: small
}

#indexPageInfoTextIntro {
    font-family: Pinyon Script;
    font-size: 30px;
    font-weight: bold
}

.button {
    background-color: #f7f5f2;
    border: 1px solid #070c47;
    color: #070c47;
    font-size:small;
    width:50px;
    height:20px;
    /*padding: 10px 20px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*margin: 4px 2px;*/
    cursor: pointer;
    border-radius: 5px;
}

    .button:hover {
        font-weight:bold;
    }




.tdLeftBackground {
    background-image: linear-gradient(to left, #efedd5, #070c47);
}

.tdRightBackground {
    background-image: linear-gradient(to right, #efedd5, #070c47);
}




/*The page colors*/
.colBeige {
    background-color:#f2ede6;
}

.colLightBeige {
    background-color: #f7f5f2;
}

.colDarkblue {
    background-color:#070c47;
}

.colMarrone {
    background-color:#470620;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #f7f5f2;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float:right;
        display: block;
        color: #f2e7bf;
        text-align: center;
        padding: 20px 10px 20px 10px;
        text-decoration: none;
        font-size:small;
    }

/* Change the color of links on hover */
    .topnav a:hover {
        color: #f2e7bf;
        text-decoration:underline
    }

    .topnav a:visited {
        background-color: #470620;
        color: #f2e7bf;
    }

.topNavMenu {
}