body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#f7f5f2;
}

/* Change the color on the active page and underline it */
#active {
    color: #470620;
    text-decoration: underline
}

#tblMain {
    width:100%;
}

#divTopMenu {
    position:relative;
    width:50%;
    text-align:right
}

#divTopMenuLinks {
    position:absolute;
    bottom:5px;
    right:5px
}

#divTopMenuMiddle {
    display:flex;
    background-color:#f7f5f2;
    font-size:small
}

#imgFindUsImage {
    height: 50px;
    width: 50px
}

/* Map Settings */
#gmap_canvas {
    width: 400px;
    height: 400px;
    border: 2px solid #070c47
}

#pageIconHeadlineTextBox {
    font-size: 45px;
    color: #070c47;
    padding: 20px 0px 0px 10px;
}

#divFirstPageIcons {
    border: none;
    display: flex;
    justify-content: space-around
}

/*Inheritans for all mailForm classes base settings*/
[class*="mailForm-"] {
    vertical-align: text-top;
    padding-right: 6px;
}

.mailForm-Adress {
    padding-top: 4px;
}

    .mailForm-Adress img {
        height: 20px;
    }

.mailForm-Phone {
    padding-top: 6px;
}

    .mailForm-Phone img {
        height: 20px;
    }

.mailForm-Mail {
    padding-top: 10px;
}

    .mailForm-Mail img {
        height: 20px;
    }

/*Inheritans for all input classes base settings*/
[class*="input-"] {
    font-family: calibri;
    font-size: small;
}

.input-largeTextBox {
    width: 289px;
}

.input-dateTextBox {
    width: 190px;
}

.input-timeTextBox {
    width: 89px;
}

/*The boxes containing different forms. Ex. booking and mail.*/
.boxFormWithShadow {
    border: 1px solid darkgray;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
    color: #470620;
    background-color: #f2ede6;
    padding: 5px;
    width: 295px;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boxFormService {
    border: 2px solid #070c47;
    border-radius: 15px;
    box-shadow: 5px 10px 18px #888888;
    color: #470620;
    background-color: #f2ede6;
    padding: 5px;
    width: 200px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

    .boxFormService img {
        height: 26px;
    }

.tdBookingForm {
    text-align: right;
    padding: 2px 10px 0px 0px
}

.tdButtonServiceForm {
    text-align: center;
    padding: 5px 0px 5px 0px
}

.tdTopImageServiceForm {
    text-align: center;
    border-bottom: 2px solid #070c47
}

    .tdTopImageServiceForm img {
        height:40px;
    }

.divContainingsForms {
    padding: 0px 25px 25px 25px;
}

.boxHeadline {
    padding-bottom: 4px;
    font-weight: bold
}

/* Style the links inside the navigation bar */
.topNavMenu a {
    font-size: small;
    text-decoration: none;
    color: #070c47
}
    /* Change the color and underline the links on hover */
    .topNavMenu a:hover {
        color: #470620;
        text-decoration: underline
    }


.imgTopMenuSmall {
    width:15px;
    height:15px
}

.logo {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

    .logo img {
        height: 60px;
        width: 60px
    }

    .logo span {
        color: #470620;
        font-family: Pinyon Script;
        font-size: 22px;
        font-weight: bold
    }

.tblNoSpacing {
    border-spacing: 0px;
    border-collapse: collapse;
}

.tdClean {
    padding: 0px;
    margin: 0px;
    border: 0px
}

.topOfTheMenu {
    padding-right: 5px;
    text-align: right;
    align-content: flex-end;
    height: 15px;
    background-color: #f2ede6;
    font-size: x-small;
    color: #070c47;
}

.bottomOfTheMenu {
    width: 100%;
    background-color: #f2ede6
}

.pageHeaderText {
    color: #070c47;
    font-size:large;
    width:70%;
    text-align:center
}

.tdMainLeftAndRight {
    width:15%
}

.iconLink img {
    border: 2px solid #070c47;
    border-radius: 4px;
    padding: 5px;
    width: 144px;
    height:144px;
}

.firstPageHeader {
    color: #f7f5f2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 250px;
    width: 100%;
    background-image: url(../Images/imgIndexBackground.jpg);
    background-size: contain;
    text-align: center;
}

    .firstPageHeader span {
        font-family: Pinyon Script;
        font-size: 70px;
        font-weight: bold
    }

.firstPageTopIcons {
}

    .firstPageTopIcons td {
        align-content: center;
        text-align: center;
        padding: 15px 70px 15px 70px
    }

    .firstPageTopIcons div {
        border: 4px solid #070c47;
        border-radius: 6px
    }

    .firstPageTopIcons img {
        padding: 3px;
        width: 60px;
        height: 60px;
    }

.pageIconHeadlineContainer {
    padding: 25px;
    border: none;
    display: flex;
    justify-content: flex-start;
    font-size: 45px;
    color: #070c47
}

    .pageIconHeadlineContainer img {
        height: 60px;
        width: 60px;
        padding: 3px
    }

.pageIconHeadlineImgBox {
    border: 4px solid #070c47;
    width: 66px;
    height: 66px;
    border-radius: 6px
}

.pageInfoText {
    padding: 0px 25px 25px 25px;
}

    .pageInfoText span {
        font-size: small;
        color: #470620
    }

.tdServiceFormText {
    text-align: left;
    font-size: 15px
}

.indexPageInfoText {
    padding: 10px 25px 10px 25px;
    color: #470620;
    color: #470620;
    font-size: small
}

#indexPageInfoTextIntro {
    font-family: Pinyon Script;
    font-size: 30px;
    font-weight: bold
}

.button {
    background-color: #f7f5f2;
    border: 1px solid #070c47;
    color: #070c47;
    font-size:small;
    width:60px;
    height:20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

    .button:hover {
        font-weight:bold;
    }

.tdLeftBackground {
    background-image: linear-gradient(to left, #efedd5, #070c47);
}

.tdRightBackground {
    background-image: linear-gradient(to right, #efedd5, #070c47);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #f7f5f2;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float:right;
        display: block;
        color: #f2e7bf;
        text-align: center;
        padding: 20px 10px 20px 10px;
        text-decoration: none;
        font-size:small;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        color: #f2e7bf;
        text-decoration:underline
    }

    .topnav a:visited {
        background-color: #470620;
        color: #f2e7bf;
    }

.textareaMailForm {
    width: 287px;
}
/* Not working! */
.topNavMenu {
}

    .topNavMenu div {
        position: absolute;
        bottom: 5px;
        right: 5px
    }

/*The page colors ONLY FOR REF.*/
.colBeige {
    background-color: #f2ede6;
}

.colLightBeige {
    background-color: #f7f5f2;
}

.colDarkblue {
    background-color: #070c47;
}

.colMarrone {
    background-color: #470620;
}